.button {
  display: block;
  padding: 15px 25px;

  font-size: 13px;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  border-radius: 40px;
}

.button--transparent {
  background-color: transparent;
  border: 1px white solid;
}
