.contact {
  display: flex;
  flex-direction: row;
  height: 649px;
}

.contact__map-wrapper {
  width: 50%;
}

.contact__map {
  width: 100%;
}

.contact__form {
  width: 50%;

  background-image: url("/img/form-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2e333a;
}
