.page-header {
  padding-top: 33px;
  height: 750px;

  background-image: url("/img/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2e333a;
}

.page-header__menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 200px;
}

.page-header__menu-title {
  text-transform: uppercase;
}

.page-header__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
}

.page-header__info {
  margin: 0;
  padding: 0 255px;

  line-height: 25px;
  font-weight: lighter;
  text-align: center;
}
