.price {
  margin: 0;
  padding: 100px 0px;
}

.price__title {
  margin-bottom: 95px;
}

.price__cards-wrapper {
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
}

.price__card {
  border: 1px solid fade(#29323c, 50%);
}

.price__card:nth-child(2) {
  // border-left: none;
  // border-right: none;
}

.price__card-header {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  //
  // border-bottom: 1px solid fade(#29323c, 50%);
}

.price__card-plan {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  color: @textBlue;
}

.price__card-price {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  font-size: 45px;
  color: @textBlue;
}

.price__card-period {
  margin: 0;
  padding: 0;
  color: fade(@textBlue, 80%);
  text-transform: uppercase;
  font-weight: lighter;
}

.price__card-footer {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  // margin: 0;
  // padding: 60px 80px 35px 80px;
}

.price__card-description {
  margin: 0;
  padding: 0;
  margin-bottom: 65px;

  font-size: 14px;
  line-height: 40px;
  font-weight: bold;
  color: @textBlue;
  text-align: center;
}

.price__card-button {
  margin: 0 auto;
}
