.team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 900px;
  padding: 90px 0;

  background-image: url("/img/team-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2e333a;
}

.team__list {
  .list-reset();

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team__list-item {
  flex-basis: 270px;
}

.team__button {
  margin: 0 auto;
}
