.worker-card {
  display: flex;
  flex-direction: column;

  flex-basis: 270px;
  padding: 0;

  background-color: fade(#f2f2f2, 75%);
}

.worker-card__photo {
  margin-bottom: 30px;
}

.worker-card__container {
  padding: 30px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.worker-card__name {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;

  font-size: 15px;
  line-height: 20px;
  font-weight: 800;
  color: @textBlue;
  text-align: center;
}

.worker-card__profession {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  color: @textBlue;
}

.worker-card__social {
  // width: 100%;
  margin: 0 5%;
}
