
@import "mixins.less";
@import "normalize.less";
@import "variables.less";
@import "blocks\page-header.less";
@import "blocks\button.less";
@import "blocks\services.less";
@import "blocks\block-title.less";
@import "blocks\futures-list.less";
@import "blocks\feedbacks.less";
@import "blocks\team.less";
@import "blocks\worker-card.less";
@import "blocks\social.less";
@import "blocks\clients.less";
@import "blocks\price.less";
@import "blocks\contact.less";
@import "blocks\page-footer.less";
@import "blocks\works.less";
@import "scaffolding.less";


.grid-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px 160px 345px;
  grid-template-areas:
  ". area2 ."
  "area1 area2 area3"
  "area1 area2 area3";
}

.grid-column {
  border:1px solid red;
}

.grid-column1 {
  grid-area: area1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:160px 345px;
  grid-template-areas:
  "header"
  "footer";
}

.column1-header {
  grid-area: header;
}

.column1-footer {
  grid-area: footer;
}

.grid-column2 {
  grid-area: area2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:200px 345px;
  grid-template-areas:
  "header"
  "footer";
}

.column2-header {
  grid-area: header;
}

.column2-footer {
  grid-area: footer;
}

.grid-column3 {
  grid-area: area3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:160px 345px;
  grid-template-areas:
  "header"
  "footer";
}

.column3-header {
  grid-area: header;
}

.column3-footer {
  grid-area: footer;
}
